.green {
    background-color: green;
    display: inline-block;
}

.blue {
    background-color: blue;
    display: inline-block;
}

.red {
    background-color: red;
    display: inline-block;
}

.purple {
    background-color: purple;
    display: inline-block;
}

.orange {
    background-color: orange;
    display: inline-block;
}